.talktext-message-sent {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    padding: 0.5em 1em;
    text-align: right;
    line-height: 1.5em;
}

.talk-bubble-message-sent {
    margin: 1rem 1.5rem;
    display: inline-block;
    position: relative;
    margin-left: auto;
    width: auto;
    max-width: 350px;
    height: auto;
    border-radius: 15px;
    background-color: var(--secondary-color);
    color: var(--white);
}
