:root {
    --primary-color: #4b1585;
    --primary-color-hover: #643497;
    --secondary-color: #4ebb5e;
    --secondary-color-hover: #40994d;
    --complementary-color: #fbe8c6;
    --primary-text: #141414;
    --secondary-text: #d3d3d3;
    --white: #fbfbfb;
}